*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
	word-break: break-word;
}

.hero{
	height: auto;
	padding-bottom: 5%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
}

.menu .content .divMeImg{
	height: 100%;
	width: 100%;
}

.content{
	margin-top: 5%;
	margin-left: 8%;
}

.divMeImg{
	height: auto;
	width: auto;
	margin-top: 5%;
	margin-left: 8%;
}

.contentImg{
	display: flex;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo{
	color: white;
	font-size: clamp(10px,5vw, 35px);
	letter-spacing: 1px;
	cursor: pointer;
}

span{
	color: #f9004d;
}

nav ul li{
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #f9004d;
	transformation: .4s;
}

.btn{
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 1% 1%;
	border-radius: 30px;
	transition: transform .4s;
}

.btn:hover{
	transform: scale(1.2);
}

.meImg{
	height: auto;
	width: auto;
	border: 10px solid #101010;
	border-radius: 50%;
	background-color: #191919;
}


h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: clamp(35px,5vw, 75px);
}

h3{
	color:white;
    font-size:clamp(15px,5vw, 25px);
    margin-bottom:50px;
}

h4{
	color:#fcfc;
    letter-spacing:2px;
    font-size:clamp(10px,5vw, 20px);
}

.newslatter form{
   width: 380px;
   max-width: 100%;
   position: relative;
}

.newslatter form input:first-child{
   display: inline-block;
   width: 100%;
   padding: 14px 130px 14px 15px;
   border: 2px solid #f9004d;
   outline: none;
   border-radius: 30px;
}

.newslatter form input:last-child{
   	position: absolute;
   	display: inline-block;
   	outline: none;
   	border: none;
   	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	color: white;
	box-shadow:0px 0px 5px #000,0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

.about img{
	height: auto;
	width: auto;
	border: 10px solid #101010;
	border-radius: 50%;
	background-color: #101010;
}

.main{
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.divSwMe .about-text{
	height: 100%;
	width: 100%;
}

.about-text {
	margin-left: 3%;
	width: 100%;
}

.about-text h2{
	color: white;
	font-size: clamp(35px,5vw, 75px);
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: clamp(12px,5vw, 22px);
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: clamp(8px,5vw, 18px);
	margin-bottom: 45px;
}

.about .button-two{
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 1% 3%;
	border-radius: 30px;
	transition: .4s;
}

.about .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.cv{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}

.title h2{
	color: white;
	font-size: clamp(35px,5vw, 75px);
	width: 100%;
	margin: 30px auto;
	text-align: center;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card{
	height: 100%;
	width: 25%;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i{
	font-size: clamp(25px,5vw, 50px);
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: clamp(10px,5vw, 30px);
	margin-bottom: 15px;
}

.cvtext{
	height: auto;
	text-align: center;
	font-size: clamp(13px,5vw, 30px);
}

.pra{
	display: flex;
	flex-direction: column;
}


.pra p{
	color: #fcfc;
	font-size: clamp(10px,5vw, 16px);
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 3% 6%;
	border-radius: 30px;
	transition: .4s; 
}

.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.card:hover{
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
	transform: translateY(-3%);
}

.proyects {
	width: 100%;
	height: 100%;
	padding-bottom: 10%;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.proyects .card{
	background: #101010;
	height: 100%;
	width: 100%;
	margin: 0px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
  	position: relative;
}

.proyects p{
	color: white;
	font-size: clamp(15px,5vw, 30px);
	font-weight: bold;
	margin-bottom: 25px;
}

.proyects .button-two{
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 3% 6%;	
	border-radius: 30px;
	transition: .4s;
}

.proyects .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.proyects .cvtext{
	text-align: center;
	height: 100%;
}

.proyects .pra{
	display: flex;
	flex-direction: column;
}

.proyects .pra p{
	color: #fcfc;
	font-size: clamp(10px,5vw, 16px);
	line-height: 27px;
	margin-bottom: 25px;
}

.swiper{
	width: 90%;
   	height: 100%;
}

.swiper-button-next, .swiper-button-prev{
	color: white !important;
	
}

.swiper-pagination-bullet-active {
  	background-color: #f9004d !important;
}

.swiper-button-next:hover, .swiper-pagination:hover, .swiper-button-prev:hover{
	color: #f9004d !important;
}


footer{
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 3%;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1){
	font-size: clamp(15px,5vw, 30px);
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2){
	color: white;
	font-size: clamp(10px,5vw, 17px);
	width: 100%;
	text-align: center;
	line-height: 26px;
}

.social{
	display: flex;
}

.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: clamp(10px,5vw, 20px);
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: clamp(10px,5vw, 14px); 
}

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: clamp(12px,5vw, 22px);
  display: none;
  z-index: 1;
}

.gotopbtn:hover{
	color: #f9004d;
	transformation: .4s;
}

.topbtn--hidden{
	display: block;
}


@media only screen and (max-width: 1100px){

	.meImg{
		width: 80%;
		margin-right: auto;
	}

	.proyects .button-two{
		display: flex;
		flex-direction: column;
		margin-top: 5%;
	}
}

@media only screen and (max-width: 900px){
	nav ul{
		width: 100%;
		position: block;
		padding: 10px 25px;
	}

	nav ul li a{
		color: white;
		display: inline-flexbox;
		text-decoration: none;
		font-weight: bold;
		text-transform: capitalize;
	}

	.content h1{
		font-size: clamp(35px,10vw, 75px);
	}
	
	.content h3{
		font-size:clamp(15px,8vw, 30px);
	}
	
	.content h4{
		font-size:clamp(10px,8vw, 30px);
	}

	.contentImg{
		margin-top: 1%;
		margin-left: 1%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.divMeImg{
		width: 60%;
	}

	.box{
		display: flex;
		flex-direction: column;
	}

	.btn{
		font-size: clamp(10px, 1vw, 25px);
	}

	.button{
		font-size: clamp(10px, 1vw, 25px);
	}

	.card{
		width: 90%;
	}
}

@media only screen and (max-width: 700px){
	.about img{
		width: 100%;
	}

	.main{
		display: flex;
		flex-direction: column;
	}


	.about-text {
		margin-top: 5%;
	}
}